.site-header {
    background-color: rgba($black, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    a {
        color: $gray-500;
        transition: ease-in-out color .15s;
        
        &:hover {
            color: $white;
            text-decoration: none;
        }
    }
}