.border-top {
    border-top: 1px solid $gray-400;
}
.border-bottom {
    border-bottom: 1px solid $gray-400;
}
.box-shadow {
    box-shadow: 0 .25rem .75rem rgba($black, .05);
}
.overflow-hidden {
    overflow: hidden;
}